<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/account.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
</head>

<body>
    <div id="backgroundOverlay"></div>
    <div id="content">
        <div id="topDiv">
            <div id="topLine">
                <p id="title">SkiDis</p>
                <div id="lineUser">
                    <% if (username) { %>
                        Hello <%= username %>
                    <% } else { %>
                        Hello Guest
                    <% } %>
                </div>
                <div id="menu">
                    <a id="homePage-link" href="/">Home</a>
                    <a id="ski-products-link" href="#">Ski Products</a>
                    <a id="clothes-link" href="#">Clothes</a>
                    <a id="accessories-link" href="#">Accessories</a>
                    <% if (isAdmin === true) { %>
                        <a id="manager-link" href="/manager">Manager Entry</a>
                    <% } else { %>
                        <a id="personal-zone-link" href="/account">My Account</a>
                    <% } %>
                </div>
                <div class="search-box">
                    <button class="btn-search" id="searchBtn"><i class="bi bi-search"></i></button>
                    <input type="text" class="input-search" id="searchInput" placeholder="product name">
                </div>
            </div>
            </div>
        </div>
                    <div id="cartCard" class="card text-center mb-3" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">YOUR SHOPPING CART</h5>
                            <ul id="cartItems"></ul>
                            <p id="emptyCartMessage">Your cart is empty.</p>
                        </div>
                    </div>        
                </div>
                <div id="menu">
                    <a id="homePage-link" href="/">Home</a>
                    <a id="ski-products-link" href="#">Ski Products</a>
                    <a id="clothes-link" href="#">Clothes</a>
                    <a id="accessories-link" href="#">Accessories</a>
                    <% if (isAdmin === true) { %>
                        <a id="manager-link" href="/manager">Manager Entry</a>
                    <% } else { %>
                        <a id="personal-zone-link" href="/account">My Account</a>
                    <% } %>
                </div>
                <div class="search-box">
                    <button class="btn-search"><i class="bi bi-search"></i></button>
                    <input type="text" class="input-search" placeholder="product name">
                </div>
            </div>
            </div>
        </div>
        <!-- <div id="accountName">
            <h6>Hello <%= username %></h6>
        </div> -->
        <div id="orderSearch">
            <input type="text" id="orderSearchBox" placeholder="Search for an order by product name">
            <button id="orderSearchButton" type="button">Search</button>
        </div>
        <div id="container">
            <!-- loop on the orders -->
            <% orders.forEach(order => { %>
                <div class="card text-center mx-auto order-card">
                    <div class="card-body">
                        <h5 class="header orders">Order No. <%= order.orderNumber %></h5>
                        <p class="card-text">Name User: <%= order.username %></p>
                        <p class="card-text">Total Order: <%= order.totalPrice %> </p>
                        <!-- loop on the products in the order -->
                        <% order.products.forEach(product => { %>
                            <div class="order-details">
                                <img src="<%= product.productImage %>" class="product-image" alt="<%= product.productName %>">
                                <div class="order-info">
                                    <p class="card-text">Name Product: <%= product.productName %> </p>
                                    <p class="card-text">Size: <%= product.selectedSize %></p>
                                </div>
                            </div>
                        <% }); %>
                        <button id="deleteOrder" type="button" class="btn btn-light">
                            <i class="bi bi-trash" data-order-id="<%= order._id %>" id="delete-order">Bring Back to the store</i><br>
                        </button>
                        <!-- <i class="bi bi-pen">Update Order</i> -->
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
    <script src="account.js"></script>
    <script src="SingleProduct.js"></script>
    <script src="home.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>   

</html>