<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/account.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
</head>

<body>
    <div id="backgroundOverlay"></div>
    <div id="content">
        <div id="topDiv">
            <div id="weather"></div>
            <div id="topLine">
                <p id="title"> SkiDis </p>
                <button id="cartBtn" type="button" class="btn btn-light">
                    <i class="bi bi-cart"></i>
                </button>
                <button id="logInBtn" type="button" class="btn btn-light">
                    <i class="bi bi-person-circle"></i>
                </button>
                <div id="lineUser">
                    <% if (username) { %>
                        Hello <%= username %>
                            <% } else { %>
                                Hello Guest
                                <% } %>
                </div>
                <div id="menu">
                    <a id="homePage-link" href="/">Home</a>
                    <a id="ski-products-link" href="/products?category=Ski%20Products">Ski Products</a>
                    <a id="clothes-link" href="/products?category=Clothes">Clothes</a>
                    <a id="accessories-link" href="/products?category=Accessories">Accessories</a>
                    <% if (isAdmin===true) { %>
                        <a id="manager-link" href="/manager">Manager Entry</a>
                        <% } else { %>
                            <a id="personal-zone-link" href="/account">My Account</a>
                            <% } %>
                </div>
                <div id="searchItem">
                    <input type="text" id="searchBox" placeholder="Search for a product">
                    <button id="searchButton" type="button">Search</button>
                </div>
            </div>
        </div>
        <!-- <div id="accountName">
            <h6>Hello <%= username %></h6>
        </div> -->
        <div id="orderSearch">
            <input type="text" id="orderSearchBox" placeholder="Search for an order by product name">
            <button id="orderSearchButton" type="button">Search</button>
        </div>
        <div id="container">
            <!-- loop on the orders -->
            <% orders.forEach(order => { %>
                <div class="card text-center mx-auto order-card">
                    <div class="card-body">
                        <h5 class="header orders">Order No. <%= order.orderNumber %></h5>
                        <p class="card-text">Name User: <%= order.username %></p>
                        <p class="card-text">Total Order: <%= order.totalPrice %> </p>
                        <!-- loop on the products in the order -->
                        <% order.products.forEach(product => { %>
                            <div class="order-details">
                                <img src="<%= product.productImage %>" class="product-image" alt="<%= product.productName %>">
                                <div class="order-info">
                                    <p class="card-text">Name Product: <%= product.productName %> </p>
                                    <p class="card-text">Size: <%= product.selectedSize %></p>
                                </div>
                            </div>
                        <% }); %>
                        <button id="deleteOrder" type="button" class="btn btn-light">
                            <i class="bi bi-trash" data-order-id="<%= order._id %>" id="delete-order">Bring Back to the store</i><br>
                        </button>
                        <!-- <i class="bi bi-pen">Update Order</i> -->
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="account.js"></script>
</body>

</html>